body {
  height: 100%;
  width: 100%;
  margin: 0;
  overflow: hidden;
  background-color: #f8f8f8;
}
.VideoPage{
    font-family: sans-serif;
    height: 100%;
    width: 100%;
  }

.VideoPage .Title{
    background-color: #2C79D0;
    color: white;
    font-size: 32px;
    text-align: right;
    height: 8vh;
    padding: 5px;
}

.VideoPage .Body{
  flex-grow : 1;
}

.VideoPage .VideoWall{
  margin: auto;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  height: 91vh;
}

.VideoPage .UploadButton{
  float: right;
  font-size: 150%;
}