

.ms-DocumentCard.VideoCard{
  user-select: auto;
  box-shadow: 2px 3px 5px rgba(0,0,0,0.3);
  min-width: 0px;
  max-width: none;
}

.ms-DocumentCard.VideoCard .videoInfo span{
  font-size: 90%;
}

.ms-DocumentCard.VideoCard .videoInfo p{
  margin:0px;
}

.ms-DocumentCard.VideoCard .playButton{
  position: absolute;
  bottom: -1px;
  right: -4px;
}

.ms-DocumentCard.VideoCard .ms-Button-icon{
  font-size: 150%;
}

.ms-DocumentCard.VideoCard .cardContent{
  margin: 2px;
  margin-left: 5px;
  float: left;
  font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
}

.ms-DocumentCard.VideoCard .cardImage{
  float: left;
}

.ms-DocumentCard.VideoCard .title{
  font-weight: bold;
  font-size: 120%;
  margin: 0px;
}